<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<style>
    body{
        
        background-color: #1029e7;
        
    }
</style>
<body>
<div class="wrapper">
    <div class="d-flex justify-content-around ">
        <div class="col-4 my-5 bg-light p-3">
            <form action='/addUser' method='post'>
                <h2 class="text-center">Register</h2>
                {% csrf_token %}
                <div class="form-group">
                    <label for="first_name">First Name:</label>
                    <input type='text' name='first_name' class="form-control">
                    <span>
                        {% for message in messages %}
                        {% if message.tags == 'first_name error' %}
                        {{ message }}
                        {% endif %}
                        {% endfor %}
                    </span>
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name:</label>
                    <input type='text' name='last_name' class="form-control">
                    <span>
                        {% for message in messages %}
                        {% if message.tags == 'last_name error' %}
                        {{ message }}
                        {% endif %}
                        {% endfor %}
                    </span>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type='text' name='email' class="form-control">
                    <span>
                        {% for message in messages %}
                        {% if message.tags == 'email error' %}
                        {{ message }}
                        {% endif %}
                        {% endfor %}
                    </span>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type='password' name='password' class="form-control">
                    {% for message in messages %}
                    {% if message.tags == 'password error' %}
                    {{ message }}
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="confirm">Confirm Password:</label>
                    <input type='password' name='confirm' class="form-control">
                    {% for message in messages %}
                    {% if message.tags == 'confirm error' %}
                    {{ message }}
                    {% endif %}
                    {% endfor %}
                </div>
                <input class="btn-primary"  type='submit' value='Register'>
            </form>
        </div>
        <div class="col-4 my-5 bg-light p-3" style="height: 350px">

            <form action='/login' method='post'>
                <h2 class="text-center">Login</h2>
                {% csrf_token %}<br>
                <div class="form-group">
                    <label for="login_email">Email:</label>
                    <input type='text' name='login_email' class="form-control">
                    {% for message in messages %}
                    {% if message.tags == 'login error' %}
                    {{ message }}
                    {% endif %}
                    {% endfor %}

                </div>
                <div class="form-group">
                    <label for="login_pw">Password:</label>
                    <input type='password' name='login_pw' class="form-control">
                </div>
                {% for message in messages %}
                {% if message.tags == 'login error' %}
                {{ message }}
                {% endif %}
                {% endfor %}
                <input class="btn-danger" type='submit' value='Log In'>
            </form>
        </div>
    </div>
</div>
</body>

</html>